.square  {
    min-width: 100px;
    text-align: center;
    margin: 10px 10px;
    display: inline-block;
    background-color: beige;
    border: 1px solid black;
    box-shadow: 0px 0px 2px black;
    border-radius: 5px;
}